.bigTitle{
    color: #F3F3F3;
    font-family: Montserrat;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: 95%; /* 190px */
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-align: center;
}

.bigTitle:hover{
    color: #FF5F68;
}

.textTitle{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 43.5px */
    letter-spacing: 0.6px;
}

.text{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 185%; /* 27.75px */
    letter-spacing: 0.3px;
}

/* .container{
    padding-left: 10%;
    padding-right: 10%;
} */

.numder{
    color: #FF5F68;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 21.75px */
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.blockTitle{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%; /* 43.5px */
    letter-spacing: 0.6px;
}

.blockText{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 185%; /* 27.75px */
    letter-spacing: 0.3px;
}

.block{
    max-width: 235px;
    padding-top: 80px;
}

.textBlock{
    padding-left: 10%;
    padding-right: 10%;
}

.map{
    padding-left: 10%;
    padding-right: 10%;
}

.blockContainer{
    display: flex;
    justify-content: space-around;
}

.button{
    padding: 12px 25px;
    background: #5551F7;
    color:white;
    cursor: pointer;
}

.geoTitle{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 43.5px */
    letter-spacing: 0.6px;
    text-align: center;
}

.geoNumber{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 43.5px */
    letter-spacing: 0.6px;  
}

.numberText{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 185%; /* 27.75px */
    letter-spacing: 0.3px;
}

.geoText{
    display: flex;
    justify-content: space-around;
}


@media(max-width:770px){
    .bigTitle{
        font-size: 140px;
    }

    .blockTitle{
        font-size: 20px;
    }

    .blockText{
        font-size: 15px;
    }

    .map{
        width: 100%;
        padding: 0;
    }
}

@media(max-width:440px){
    .bigTitle{
        font-size: 50px;
    }

    .blockContainer{
        display: flex;
        flex-direction: column;
    }

    .textTitle{
        font-size: 15px;
    }

    .text{
        font-size: 13px;
    }

    .blockTitle{
        font-size: 15px;
    }

    .blockText{
        font-size: 13px;
    }

    .geoTitle{
        font-size: 15px;
    }

    .geoNumber{
        font-size: 15px;
    }

    .numderText{
        font-size: 13px;
    }
}