.title{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 43.5px */
    letter-spacing: 0.6px;
}

.text{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 185%; /* 27.75px */
    letter-spacing: 0.3px;
}

.number{
    color: #E8EDF6;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.number:hover{
    color:#FF5C66;
}

.brif{
    color: #E8EDF6;
    margin: 0;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%; /* 65.25px */
    letter-spacing: 0.9px;
}

.brif:hover{
    color:#FF5C66;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}