.title{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 43.5px */
    letter-spacing: 0.6px;
    text-align: center;
}

.text{
    color: #1C1D28;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 185%; /* 27.75px */
    letter-spacing: 0.3px;
    text-align: center;
}

.clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
}

.img{
    width: 200px;
    height: 200px;
    padding: 20px;
}