.text{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    letter-spacing: 0.9px;
    position: absolute;
}

.image{
    position: relative;
}