.title{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    letter-spacing: 0.75px;
    padding-left: 20px;
}

.main{
    color: #1C1D28;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; 
    letter-spacing: 0.6px;
    padding-left: 20px;
}

@media(max-width:770px){
    .main{
        font-size: 20px;
    }

    .title{
        font-size: 10px;
    }
}

